<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>pilote</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>urlBd</param-name>
        <param-value>jdbc:mysql://localhost/conversion</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>root</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>userDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/userDispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDispatcher</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bookDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/bookDispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookDispatcher</servlet-name>
        <url-pattern>/book/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- La page d'accueil est le catalogue, mais l'interceptor amènera l'utilisateur -->
    <!-- vers la page de login si celui-ci n'est pas connecté -->
    <welcome-file-list>
        <welcome-file>book/catalogue</welcome-file>
    </welcome-file-list>
    <!-- Les urls invalides amènent vers une page d'erreur personnalisé avec un lien -->
    <!-- qui ramène vers l'accueil du site (login ou catalogue) -->
    <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/jsp/erreur404.jsp</location>
    </error-page>
</web-app>
